{% extends "base.html" %}

{% block title %}404{% endblock %}

{% block body_class %}not-found{% endblock %}

{% block content %}
<div class="row">
    <div class="span-two-thirds home-section">
        <h1>Oh noes!</h1>
        <p>The page you're looking for cannot be found. Why don't you head back <a href="{% url homepage %}">home</a>.</p>
    </div>
</div>

{% endblock %}