{% extends "base.html" %}

{% block title %}Create Reservation{% endblock %}

{% block content %}
<div class="row">
    <h2>Create Sample Reservation</h2>
    {% if reservation %}
    <div class="alert-message success">
        New reservation created created.
    </div>
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Booking</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.customer.name }}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.details }}</td>
        </tr>
        </tbody>
    </table>
    {% endif %}
    <form action="create" method="post" accept-charset="utf-8">{% csrf_token %}
        <input class="btn primary large" type="submit" value="Create Reservation" placeholder="">
    </form>
</div>
{% endblock %}