{% extends "base.html" %}

{% block title %}Upcoming Reservations{% endblock %}

{% block metablock %}
{% endblock %}

{% block content %}
<div class="row span16">    
    <h2>Upcoming Reservations</h2>
    <table class="bordered-table zebra-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Mobile</th>
                <th>Date</th>
                <th>Booking</th>
                <th>Status</th>
                <th>Promotions</th>
            </tr>
        </thead>
        <tbody>
        {% if new_reservation %}
            <div class="alert-message block-message success">
                New reservation created created.
            </div>
        {% endif %}

        {% if message %}
            <div class="alert-message block-message success">
                Done. A SMS message is {{ message.status }}.
            </div>
        {% endif %}
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.customer.name }}</td>
            <td>{{ reservation.customer.mobile }}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.status }}</td>
            <td>{{ reservation.details }}</td>
            <td>
            <form action="send_sms" class="compact" method="post" accept-charset="utf-8">{% csrf_token %}
                <input type="hidden" name="customer_id" value="{{ reservation.customer.id }}" />
                <input id="submit-{{ reservation.id }}" type="submit" class="btn primary" name="upgrade" value="Send Upgrade SMS">
            </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<form action="create" method="post" accept-charset="utf-8">{% csrf_token %}
<div class="row">
    <div class="span16 offset2">
        Add a new reservation: 
        <input type="text" name="mobile" placeholder="Mobile # (e.g. +14165530280)">
        <input class="btn success large" type="submit" value="Create New reservation" placeholder="">
    </div>
</div>
</form>
{% endblock %}