{% load compress %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>SMS Upsell Demo &#187; {% block title %}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% block cssblock %}
    {% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
    {% endcompress %}

    {% block metablock %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    <div class="container">
        {% include "header.html" %}

        {% block content %}
        {% endblock %}
    </div>

    {% compress js %}
    {% block jsblock %}
    {% endblock %}
    {% endcompress %}

    <!--[if lt IE 7 ]>
        <script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
        <script>DD_belatedPNG.fix("img, .png_bg");</script>
    <![endif]-->

    {% if not debug %}
    <!-- Analytics -->
    {% endif %}

</body>
</html>




    
    