// Combine the partials into a single stylesheet.
$default-text-shadow-color: rgba(white, 0.6);
$default-text-shadow-blur: 0;
$default-text-shadow-v-offset: 1px;

@import "compass/utilities";
@import "compass/css3";
@import "partials/bootstrap";

// Uses defaults set before the import above
h1, h2, h3, h4, h5 {
  @include single-text-shadow;
}

.container {
	margin-top: 24px;
}

.home-section {
	padding: 20px;
	background-color: #fff;
	background-color: rgba(255,255,255, 0.7);
	@include border-radius(9px);
}

a.logo {
    height: image-height("logo-sm.png");
    background: {
        image: image-url("logo-sm.png");
        repeat: no-repeat;
    }
}

.ir {
	@include hide-text;
	display: block;
}

form ul.errorlist {
	margin-bottom: 0px;
	li {
		color: #B94A48;
	}
}

form div.error {
	margin-bottom: 0px;
}

form.compact {
    margin-bottom: 0px;
}

body.confirmation {
	ul.features {
		@include horizontal-list();
	}
}

body.signup {
	form {
		margin-top: 20px;
	}
	ul.features {
		margin-top: -24px;
		li {
			color: #404040;
		}
	}
	.actions {
		background: none;
		border-top: none;
		margin-top: -15px;
	}
}

body.availabilities {
	.week-wrapper {
		@include border-radius(9px);
        padding: 10px;
	}

	a {
		display: block;
	}

	.back {
		padding-top: 5px;
	}

	.time-group {
		padding-left: 25px;
		padding-bottom: 8px;
		margin-bottom: 20px;
		margin-top: 5px;
		@include border-radius(4px);
		text-align: left;
		cursor: pointer;
		display: block;
		@extend .btn;
		.btn .success {
			h4 {
				color: #fff;
			}
		}
	}

	h4 {
		margin-bottom: -7px;
		text-align: left;
	}

	.time-slot-wrapper {
		display: none;
		a {
			display: block;
		}
		background-color: #c1c1c1;
		@include border-radius(4px);
		margin-top: 5px;
		ul.time-slot {
			padding-top: 5px;
			padding-bottom: 5px;
			li {
				padding-bottom: 5px;
				padding-top: 5px;
			}
		}
		h4 {
			padding-left: 25px;
		}
		.back {
			padding-top: 5px;
			a {
				display: block;
				padding-top: 5px;
				margin-bottom: 10px;
			}
			margin-top: 5px;
			text-align: center;
			padding-left: 0;
		}
		.active {
			height: 216px;
		}
	}

	.day {
		//border-right: 1px solid #000;
		text-align: center;
		height: 100%;

		&.last {
			border-right: none;
		}
	}
   .more {
        background-position: 17px 125px;
        background-repeat: no-repeat;
        height: 285px;
        text-indent: -999999px;
   }

}

body.reserve {
    .actions {
    		background: none;
    		border-top: none;
    		margin-top: -15px;
    }

    .help-block {
        color: $gray;
    }

	.large {
    	font-size: 16px;
	}
}

body.service_provider {
    .logo-thumbnail {
        padding: 2px;
        background-color: #fff;
        background-color: rgba(255,255,255, 0.9);
        @include border-radius(9px);
    }
    .media-grid {
    	li {
    		a {
    			background-color: #F5F5F5;
    		}
    	}
    }
}

body.salon {
    background-color: #fff;
    color: $grayDark;
}

#footer {
    color: #c0c0c0;
    margin-top: 20px;

    .company {
        color: white;
        font-weight: bold;
    }

    a {
        color: white;
        font-weight: bold;
    }
}